<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.apple.dance">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activity.BottomSheetActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LogDemoActivity"
            android:exported="true" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.JavaActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AspectActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ThreadDemoActivity"
            android:exported="true" />
        <activity
            android:name=".coroutine_demo.CoroutineActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HandlerDemoActivity"
            android:exported="true" />
        <activity
            android:name=".activity.WebActivity"
            android:exported="true" />
        <activity
            android:name=".activity.KeyboardActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".activity.TabTopActivity" />
        <activity android:name=".activity.HomeActivity" />
    </application>

</manifest>